/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-skyblue: #bdc4fb;
  --color-dark-skyblue: #99a4ff;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-very-large: 64px;
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-black: 900;
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation Duration */
  --animation-duration: 300ms;
  --animation-delay: 600ms;

  --max-width-web: 1600px;
  --max-width-mobile: 768px;
}

/* 공통사항 */
* {
  box-sizing: border-box;
  cursor: none;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style: none;
  padding-left: 0;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-black);
  color: var(--color-black);
  margin: 16px 0;
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
  line-height: 1.8em;
}

/* Navbar */
#navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  width: 100%;
  padding: 16px;
  z-index: 999;
}
#navbar.navbar--dark {
  background-color: var(--color-skyblue);
  padding: 8px;
  transition: all 300ms ease-in;
}

.navbar__menu {
  display: flex;
}
.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  display: flex;
  align-items: center;
}
.navbar__logo img {
  width: 50px;
  margin-right: 10px;
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid transparent;
}
.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
  background-color: var(--color-dark-skyblue);
}

.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  display: none;
}

.cursor {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #4d4d4d;
  border-radius: 50%;
  z-index: 1000;
  /* user-select: none; */
  /* pointer-events: none; */
  transform: scale(1);
  transition: transition 0.3s ease-in;
}

#navbar {
  display: none;
}

/* Home */
#home {
  /* background: url("../img/header.jpg") center/cover no-repeat; */
  padding: 40px;
  padding-top: 120px;
  text-align: center;
  height: 100vh;
}
.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-dark-white);
}
.home__title {
  font-weight: 900;
  font-size: 7rem;
}
.home__title,
.home__description {
  color: var(--color-black);
}
.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  transition: all var(--animation-duration) ease-in;
}
.home__contact:hover {
  background-color: var(--color-dark-skyblue);
  transform: scale(1.1);
}

/* Section common */
.section {
  height: 100vh;
}
.section__container {
  padding: 50px;
  text-align: center;
  margin: auto;
  max-width: 1600px;
  width: 1600px;
}
.section__title {
  font-size: var(--font-very-large);
  margin: 40px 0;
}

.slide__container {
  padding: 50px 0;
  text-align: center;
  margin: auto;
  width: 100vw;
}

.slide__wrapper {
  width: 200vw;
  display: flex;
  transition: all 0.5s ease-in;
}

.slide__frame {
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.slide__page {
  width: 100vw;
}

/* About */
#about {
  /* display: flex; */
}

.about__overview {
  width: 100%;
  text-align: left;
}

.about__skills {
  width: 100%;
}

.skillset {
  display: flex;
  /* background-color: var(--color-light-grey); */
  color: var(--color-dark-grey);
  margin: 80px 0 0 0;
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
}
.skillset__title {
  color: var(--color-black);
  font-weight: var(--weight-bold);
}
.skillset__left {
  flex-basis: 50%;
  border-right: 1px solid var(--color-black);
  padding: 2em 4em 2em 0;
  /* background-color: var(--color-dark-grey); */
  /* padding: 20px 40px; */
}
.skillset__right {
  flex-basis: 50%;
  padding: 2em 2em 2em 0em;
  display: flex;
  flex-direction: column;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}
.skill {
  margin-bottom: 32px;
}
.skill__bar {
  width: 100%;
  height: 10px;
  background-color: var(--color-grey);
}
.skill__value {
  /* width: 70%; */
  height: 10px;
  background-color: var(--color-orange);
  transition: all 0.5s ease-in;
  transform-origin: left;
}
#html_value {
  width: 90%;
}
.about.active #html_value {
  animation-name: html_graph;
  animation-duration: 1s;
  animation-delay: var(--animation-delay);
  animation-fill-mode: both;
}
@keyframes html_graph {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 90%;
    opacity: 1;
  }
}
#css_value {
  width: 80%;
}
.about.active #css_value {
  animation-name: css_graph;
  animation-duration: 1s;
  animation-delay: var(--animation-delay);
  animation-fill-mode: both;
}
@keyframes css_graph {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 80%;
    opacity: 1;
  }
}
#js_value {
  width: 70%;
}
.about.active #js_value {
  animation-name: js_graph;
  animation-duration: 1s;
  animation-delay: var(--animation-delay);
  animation-fill-mode: both;
}
@keyframes js_graph {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 70%;
    opacity: 1;
  }
}
#react_value {
  width: 45%;
}
.about.active #react_value {
  animation-name: react_graph;
  animation-duration: 1s;
  animation-delay: var(--animation-delay);
  animation-fill-mode: both;
}
@keyframes react_graph {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 45%;
    opacity: 1;
  }
}
#njs_value {
  width: 25%;
}
.about.active #njs_value {
  animation-name: njs_graph;
  animation-duration: 1s;
  animation-delay: var(--animation-delay);
  animation-fill-mode: both;
}
@keyframes njs_graph {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 25%;
    opacity: 1;
  }
}

.skills__design {
  display: flex;
  justify-content: center;
}
.skill__design {
  flex-basis: 30%;
  padding: 2em;
}
.skill__icon {
  border-radius: 50px;
  overflow: hidden;
}
.skill__icon img {
  width: 100%;
  height: 100%;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}
.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major__icon:hover {
  color: var(--color-dark-skyblue);
  border-color: var(--color-dark-skyblue);
  transform: rotate(-30deg) scale(1.1);
  transition: all var(--animation-duration) ease-in;
}
.major__title,
.major__description {
  color: var(--color-dark-grey);
}
.major__description {
  font-size: var(--font-small);
}
.job {
  display: flex;
  align-items: center;
}
.job__name {
  margin-right: 16px;
  font-size: var(--font-small);
  color: var(--color-light-grey);
}
.job__period {
  font-size: var(--font-micro);
  color: var(--color-light-grey);
}

.major__wrap,
.job__wrap {
  width: 1600px;
  display: flex;
  margin: auto;
  justify-content: center;
}
.job__wrap {
  flex-direction: column;
}

/* Skill */
/* #skills {
  background-color: var(--color-yellow);
  height: 100vh;
} */

/* Work */
#work {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
}
.section__title_wrap {
  display: flex;
  align-items: baseline;
}
.title__desc {
  margin-left: 2em;
  font-size: var(--font-medium);
  color: var(--color-dark-grey);
}
.work__categories {
  margin-bottom: 20px;
}

.category__btn {
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.category__btn:hover,
.category__btn.selected {
  border-bottom: 4px solid var(--color-orange);
  color: var(--color-black);
  font-weight: var(--weight-bold);
}

.category__btn:hover .category__count,
.category__btn.selected,
.category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  width: 1500px;
  height: 500px;
  opacity: 1;
  transition: all var(--animation-duration) ease-in;
  overflow-x: scroll;
  overflow-y: hidden;
}
.work__projects::-webkit-scrollbar {
  height: 20px;
}
.work__projects::-webkit-scrollbar-track {
  background-color: var(--color-light-grey);
  border-radius: 10px;
}
.work__projects::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-white);
  border-radius: 10px;
  border: 3px solid var(--color-light-grey);
}
.projects__wrap {
  width: 3000px;
  display: flex;
  flex-wrap: wrap;
}
.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96), translateY(40px);
}
.project {
  width: 300px;
  height: 250px;
  margin: 2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-white);
}
.project.invisible {
  display: none;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}
.project__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}
.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}
.project__description h3 {
  color: var(--color-white);
}
.project__description h3::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: var(--color-dark-white);
  display: block;
  position: relative;
  left: 50%;
  margin-left: -25px;
  margin-top: 8px;
}

#lightbox__overlay {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 5vh;
  left: 0;
  width: var(--max-width-web);
  height: 800px;
  display: flex;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.8);
  transition: all var(--animation-duration);
}
#lightbox__overlay.visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
}

#work_frontend.active {
  /* position: fixed; */
}

.frontend__projects {
  width: var(--max-width-web);
  display: flex;
  flex-wrap: wrap;
}
.project__item {
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 64px;
  margin-bottom: 80px;
}
.front__num {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-very-large);
  color: var(--color-white);
  text-shadow: -1px 0 var(--color-dark-grey), 0 1px var(--color-dark-grey),
    1px 0 var(--color-dark-grey), 0 -1px var(--color-dark-grey);
  position: absolute;
  top: -32px;
  left: -32px;
  z-index: 2;
}
.img__cover {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
}
.front__screenshot {
  width: 100%;
  transition: all var(--animation-duration) ease;
  transform-origin: center;
}
.project__item:hover .front__screenshot {
  transform: scale(1.2);
}
.front__description {
  width: 320px;
  height: 100px;
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 40px;
  bottom: -50px;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  border-radius: 5px;
  padding: 8px;
  background-color: var(--color-white);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.project__title {
  width: 80%;
  font-weight: var(--weight-bold);
  border-bottom: 1px solid var(--color-dark-white);
}
.project__lang {
  color: var(--color-light-grey);
}
/* Contact */
#contact {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__title,
.contact__email,
.contack__rights {
  color: var(--color-black);
}
.contact__title {
  margin: 32px 0;
}
.contact__links i {
  font-size: var(--font-large);
  margin: 24px 0;
  color: var(--color-light-grey);
}
.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-orange);
  transition: all var(--animation-duration) ease-in;
}

.upbutton {
  background-color: var(--color-dark-skyblue);
  border-radius: 50%;
  width: 50px;
  font-size: var(--font-medium);
  height: 50px;
  z-index: 999;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: var(--color-white);
  visibility: hidden;
  transition: all 300ms ease-in;
  opacity: 0;
}

.dotNav {
  z-index: 999;
  list-style-type: none;
  position: fixed;
  right: 48px;
  top: 50%;
  transform: translateY(-25%);
}

.dotNav__item {
  width: 20px;
  height: 20px;
  margin: 7px;
  /* display: inline-block; */

  position: relative;
}

.item__dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-black);
  display: block;
  margin: 0 auto;
  transition: all 0.5s;
  transform-origin: center;
  position: absolute;
  top: 50%;
  right: 50%;
}
.dotNav__item:hover .item__dot {
  width: 10px;
  height: 10px;
}
.item__dot.active {
  width: 10px;
  height: 10px;
}

.upbutton.on {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  :root {
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  body {
    width: 100%;
    /* overflow: hidden; */
  }
  .section {
    height: auto;
    overflow: hidden;
  }
  .navbar,
  .section__container {
    width: 100%;
  }

  .dotNav {
    display: none;
  }
  .cursor {
    display: none;
  }
  .home__title {
    font-size: 3rem;
  }
  /* navbar */
  #navbar {
    width: 100%;
    display: block;
    color: black;
    position: fixed;
    justify-self: center;
    background-color: var(--color-white);
  }
  .navbar__toggle-btn {
    display: block;
    position: absolute;
    top: 32px;
    right: 16px;
  }
  .navbar__menuwrap {
    display: none;
    justify-content: center;
    width: 80%;
    position: absolute;
    margin: 0 auto;
    height: 250px;
    left: 10%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--color-grey);
    border-radius: 20px;
    transition: all 0.5s ease-in;
  }
  .navbar__logo a {
    color: black;
    font-weight: var(--weight-bold);
  }

  .navbar__menu {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    color: white;
  }
  .navbar__menuwrap.active {
    display: flex;
  }
  .navbar__menu__item:hover {
    background-color: var(--color-orange);
    color: var(--color-black);
    font-weight: var(--weight-bold);
    border: none;
  }
  /* about */
  #about {
    display: flex;
    flex-direction: column;
  }
  .section__title {
    text-align: left;
    font-size: 42px;
  }
  .skillset {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
  }
  .skillset__left {
    padding: 2em 0;
    border-right: none;
    border-bottom: 1px solid var(--color-black);
  }
  .skillset__right {
    padding: 2em 0;
  }
  .skill__design {
    padding: 1em;
  }
  .skill__icon {
    border-radius: 10px;
  }
  .work__projects {
    width: 100%;
  }
  .projects__wrap {
    width: 500%;
    overflow: hidden;
  }

  .frontend__projects {
    width: 100%;
  }
  .project__item {
    margin-right: 0;
  }
  .front__description {
    left: 30px;
    width: 250px;
  }
  #contact {
    height: 100vh;
    width: 100%;
  }
}
